
<!--
             /$$    /$$ /$$             /$$                     /$$
            | $$   | $$|__/            | $$                    | $$
            | $$   | $$ /$$ /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
            |  $$ / $$/| $$| $$__  $$|_  $$_/   /$$__  $$ /$$__  $$
             \  $$ $$/ | $$| $$  \ $$  | $$    | $$$$$$$$| $$  | $$
              \  $$$/  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$
               \  $/   | $$| $$  | $$  |  $$$$/|  $$$$$$$|  $$$$$$$
                \_/    |__/|__/  |__/   \___/   \_______/ \_______/

                I want to work for you.
-->

<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="wrapper clearfix">
  <div class="left">

    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>Mykolas <em>Sanda</em></h1>
       
        <p>mykolassanda@gmail.com</p>
        <p>+370860844230</p>

      </div>

    </div>

  </div>            





  <div class="right">

    <div class="inner">

      <section>
        <h1>About me</h1>
        <p>I am a student seeking employment in the tech industry. I 
            have been interested in technology ever since I was kid. I 
            consider myself a motivated and an ambitious person, I always 
            look forward to learning new skills or improving the ones I 
            already have. I can pickup new things rather easily and quickly. 
            Computers and their problem solving is my everyday life. I looked into what you do here at <b><span style="color:rgba(0,119,130,0.9)">Vinted</span> </b>and I feel like I would be a great fit for you. I believe becoming a part of such an amazing team would be a perfect environment for me to grow. I'd like to bring value to the work you do here and be a part of your team.</p>
            <br>
          <h1>Education</h1>
        <p>Studied at <em>Vilnius Šv. Kristoforo gimnazijoja </em> </p>
        <p>Attended one of the best coding schools in the country<em> NKKM </em> </p>
          <p>Currently majoring in <em> Computer science </em>at<em> Vilniaus kolegija </em></p>
          <p> I also love learning code from courses that i find online, currently am improving my skill with ruby and ruby on rails framework. As a matter of fact <em>I used rails to create this website/resume </em>.</p>
      </section>
      <section>

        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>Ruby basics</li>
          <li>Ruby on rails</li>
          <li>Git</li>
          <li>Memcached</li>
          <li>MySQL</li>
          <li>HTML/CSS</li>
           <li>Adobe Photoshop</li>
           <li>c++</li>
        </ul>

      </section>
     


     </div>

    </div>

  </div>

</div>

<div class="far_Right">
   <div class="name-hero">
        <a href="https://www.vinted.com/jobs/board?gh_jid=4011853101"><img src="https://meetfrank.com/blog/wp-content/uploads/2019/10/01e0aea7-8df6-4a1e-894e-08e6d3a69368-1539684203682.png" alt="vinted";>
        <a href="https://www.vinted.com/jobs/board?gh_jid=4011853101"><h1><b>Application</b></h1>
    </div>
    </div>